doctype html

mixin copyright()
	.text-center
		h5
			| Trình chấm 
			a(href='https://dsapblog.wordpress.com/') Themis™
			|  được thiết kế bởi 
			b Lê Minh Hoàng
			|  và 
			b Đỗ Đức Đông
		h5
			| Web interface 
			b #{TWIVersion} 
			| - Made with ♥ from 
			a(href='https://facebook.com/natsukagami') Natsu Kagami
			|  - 
			a(href='https://github.com/natsukagami/themis-web-interface') Git Repository

html
	head
		title #{title} - #{global.Config.contestName}
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel='stylesheet' type='text/css' href='/public/css/bootstrap/bootstrap.min.css')
		link(rel='stylesheet' type='text/css' href='/public/css/common.css')
		script(src='/public/js/jquery/jquery.min.js')
		script(src='/public/js/bootstrap/bootstrap.min.js')
		if recaptcha
			script(src='https://www.google.com/recaptcha/api.js')
	body
		nav.navbar.navbar-inverse.navbar-fixed-top
			.container
				.navbar-header
					a.navbar-brand.navbar-left(href='/')=global.Config.contestName
					if global.Config.allowScoreboard
						span.navbar-brand.navbar-left=' >> '
						a.navbar-brand.navbar-left(href='/scoreboard') Bảng xếp hạng
				if user
					.navbar-text.navbar-right 
						span 
							| Xin chào, 
							b=user.name
							| !
						|  
						a.btn.btn-xs.btn-warning(href='/change-password') Đổi mật khẩu
						|  
						a.btn.btn-xs.btn-danger(href='/logout') Thoát
		.container-fluid(style='padding-bottom: 60px')
			block content
		footer.footer.navbar.navbar-default.navbar-fixed-bottom.hidden-xs
			+copyright
		.visible-xs-block: +copyright
