doctype html

mixin copyright()
	footer.text-center
		div
			| Trình chấm 
			a(href='https://dsapblog.wordpress.com/') Themis™
			|  được thiết kế bởi 
			b Lê Minh Hoàng
			|  và 
			b Đỗ Đức Đông
		div
			| Web interface 
			b #{TWIVersion} 
			| - Made with ♥ from 
			a(href='https://facebook.com/natsukagami') Natsu Kagami
			|  - 
			a(href='https://github.com/natsukagami/themis-web-interface') Git Repository

html
	head
		title #{title} - #{config.contestName}
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel='stylesheet' type='text/css' href='/public/css/bootstrap/bootstrap.min.css')
		link(rel='stylesheet' type='text/css' href='/public/css/common.css')
		script(src='/public/js/jquery/jquery.min.js')
		script(src='/public/js/bootstrap/bootstrap.min.js')
		if recaptcha
			script(src='https://www.google.com/recaptcha/api.js')
	body
		nav.navbar.navbar-dark.bg-dark.fixed-top
			div
				a.navbar-brand(href='/')=config.contestName
				if config.allowScoreboard
					span.navbar-brand
						| >> 
						a.navbar-brand(href='/scoreboard') Bảng xếp hạng
			if user
				div
					span.navbar-text
						| Xin chào, 
						b.navbar-text=user.name
						| !
					|  
					a.btn.btn-sm.btn-warning(href='/change-password') Đổi mật khẩu
					|  
					a.btn.btn-sm.btn-danger(href='/logout') Thoát
		.container-fluid
			block content
		hr
		+copyright
